body{
font-family: 'Ubuntu', sans-serif;
color:#393e6b;
line-height: 24px;
}

a {
  text-decoration: none;
}
a:hover{
  text-decoration: none;
  color: #0da088;
  border:none;
}

.link_list {
  border-bottom: 1px solid #0da088;
  color: #0da088;
  margin-left: 25px;
  text-decoration: none;

}
.link_list a{
  text-decoration: none;
}
.text__list{
  margin-left: 25px;
}
p{
  color:#7c7d83;
  font-size: 16px;
  font-family: 'Ubuntu', sans-serif;
  font-weight: normal;
  line-height: 24px;
}
h2{
  font-family: 'Ubuntu', sans-serif;
  font-weight: bold;
  font-size:36px;
  padding-bottom: 47px;

}
.menu a {
  font-family: 'Ubuntu', sans-serif;
  font-weight: 400;
  text-decoration: none;
  color:#393e6b;
  text-transform: uppercase;
  font-size: 16px
}

.wrap{
  display:inline-flex;
  flex-direction: column;
  width: 1524px;
  margin-left: auto;
  margin-right: auto;
  text-align: left;
  padding-left:240px;
  padding-right: 120px;

}
  header {
  margin-top: -30px;
  box-shadow: 0px 3px 4px -4px #000000;
  background-color: #ffffff;
  background-image: url(../img/bg.jpg);
  background-repeat: no-repeat;
  padding: 8px 0;
  left: 0;
  width: 100%;
  position: fixed; }

  header .headerInner {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    justify-content: space-between;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    color: #ffffff; }

    .label{
      padding-right: 50px;
    }

 .menu {
    display: flex;
    justify-content: space-between;
    list-style: none;
    padding-top: 30px;
    margin-left: 70px;
   }
   .menu__login{
    display: flex;
    justify-content: flex-start;


   }

  .part {
    margin: 0 19px;
    width: auto;
    }


.hamburger {
    display: none;
    width: 30px;
    height: 30px; }

.hamburger svg {
    width: 30px;
    height: 30px;
    fill: #3fd6bc; }

  header.mobile .headerInner {
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
               }
  header.mobile .headerInner .label {
    display: -webkit-flex;
     display: -moz-flex;
     display: -ms-flex;
     display: -o-flex;
     display: flex;
     justify-content: center;
     margin-right: 220px; }
  header.mobile .headerInner .menu {
    display: flex;
    flex-direction:column;
    justify-content: center;
    text-align: center;
    -webkit-box-ordinal-group: 3;
    -webkit-order: 2;
    -ms-flex-order: 2;
    order: 2;
    width: 100%; }
  header.mobile .headerInner .menu .part {
     text-align: center;
   }
  header.mobile .headerInner .hamburger {
    -webkit-box-ordinal-group: 2;
    -webkit-order: 1;
    -ms-flex-order: 1;
    order: 0;
    display: block; }


.text{
  width: 615px;
}
section .group__btn{
  margin-top:62px;
}

/*btn----------------*/
.group__btn{
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  margin-left: -15px;
}
.btn{
  display: flex;
  justify-content: center;
  flex-direction: row;
  background-color:#2cd3b8;
  text-transform: uppercase;
  font-weight: 700;
  text-decoration: none;
  color: white;
  padding: 10px 25px;
  border-radius: 50px;
  margin-left: 20px;
  width: 300px;
  margin-top:33px;
  text-align: center;
}
.light{
  border-color:#393e6b;
  color: #393e6b;
  background-color:#eff4f4;
}
.color2{
  background-color: #3b4269;
}

.unistal__group{
  flex-direction: row;
  width:800px;
  padding-top: 30px;
}
.unistal__item{
  display: inline;
  margin-left: 20px;
  text-decoration: none;
}

.step__text{
  width: 750px;
  padding-bottom: 60px;
}

.list__step{
display: -webkit-inline-flex;
display: -moz-inline-flex;
display: -ms-inline-flex;
display: -o-inline-flex;
display: inline-flex;
flex-direction: column;
}

.step__item{
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  text-align: left;
  padding-bottom: 25px;

 }
 .text__step{
  margin-top: 25px;
  padding-left: 35px;
  color: #393e6b;
 }



.social__list{
  display: inline-flex;
  flex-direction: column;
  margin-right: 45px;
}
.social__item{
  margin-top:40px;
  display: inline-flex;
}

footer{
  background-color: #393e6b;
  color:#adb0c2;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}


.footer__item{
  padding-top: 50px;
  padding-bottom: 50px;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  flex-direction: column;

}

@media (min-width: 320px) and (max-width: 767.98px) {
  .container{
  width: 615px;
  margin-left: auto;
  margin-right: auto;
  text-align: left;
  padding: 0px 20px;
}
  .btn{
    width:550px;
    padding:20px 0px;
 }
 .group__btn{
  flex-direction: column;
 }

 header{
  background-image: none;
 }
 .social__wrap{
  flex-direction: column;
 }

}